In [843]:
import os
import pandas as pd

folder_path = r'C:/Users/User/Desktop/TSWRDC Code/Web Scraping/Source'   # Give your folder path here
files = os.listdir(folder_path)
csv_files = [file for file in files if file.endswith('.csv')]

dataframes_list = []  # List to store the extracted DataFrames
assignment_files_map = {}  # Dictionary to store the mapping of assignment file names with DataFrame variables
dataframe_names = []  # List to store the names of the assigned DataFrames

for i, file in enumerate(csv_files, 1):
    file_path = os.path.join(folder_path, file) 
    df = pd.read_csv(file_path)
    dataframe_name = f'data{i}'  # Variable name assigned to the DataFrame
    globals()[dataframe_name] = df  # Assign each DataFrame to variables data1, data2, data3, and so on
    dataframes_list.append(df)  
    dataframe_names.append(dataframe_name)  # Append the assigned DataFrame name to the list
    assignment_files_map[dataframe_name] = file  # Map assignment file names with DataFrame variables

# Print out the assignment file names associated with the DataFrames
print("Assignment file names associated with the DataFrames:")
for dataframe_var, file_name in assignment_files_map.items():
    print(f"{dataframe_var} is associated with file: {file_name}")

Assignment file names associated with the DataFrames:
data1 is associated with file: Assignment_Assignment_CAP Classwork.csv
data2 is associated with file: Assignment_Assignment_CV_ Resume.csv
data3 is associated with file: Assignment_Assignment_Full CAP - GoalA+B.csv
data4 is associated with file: Assignment_Assignment_Long term dreams and short term goals.csv
data5 is associated with file: Assignment_Assignment_Practice.csv
data6 is associated with file: Assignment_Assignment_Preparing for PG_Masters.csv
data7 is associated with file: Assignment_Assignment_SMART goal.csv
data8 is associated with file: Assignment_Assignment_SWOT.csv

In [844]:
assignment_files_map

{'data1': 'Assignment_Assignment_CAP Classwork.csv',
 'data2': 'Assignment_Assignment_CV_ Resume.csv',
 'data3': 'Assignment_Assignment_Full CAP - GoalA+B.csv',
 'data4': 'Assignment_Assignment_Long term dreams and short term goals.csv',
 'data5': 'Assignment_Assignment_Practice.csv',
 'data6': 'Assignment_Assignment_Preparing for PG_Masters.csv',
 'data7': 'Assignment_Assignment_SMART goal.csv',
 'data8': 'Assignment_Assignment_SWOT.csv'}

In [845]:
a=assignment_files_map.values()
b=list(a)
print(b)

['Assignment_Assignment_CAP Classwork.csv', 'Assignment_Assignment_CV_ Resume.csv', 'Assignment_Assignment_Full CAP - GoalA+B.csv', 'Assignment_Assignment_Long term dreams and short term goals.csv', 'Assignment_Assignment_Practice.csv', 'Assignment_Assignment_Preparing for PG_Masters.csv', 'Assignment_Assignment_SMART goal.csv', 'Assignment_Assignment_SWOT.csv']

In [846]:
dataframe_names

['data1', 'data2', 'data3', 'data4', 'data5', 'data6', 'data7', 'data8']

In [847]:
data1

,_id,courseId,userId,status,data/0/date/date,data/0/date/day,data/0/date/hours,data/0/date/minutes,data/0/date/month,data/0/date/seconds,...,data/3/date/month,data/3/date/seconds,data/3/date/time,data/3/date/timezoneOffset,data/3/date/year,data/3/date/$date,data/3/status,data/3/message,data/3/adminId,data/2/adminId
0,6603f06c6a1e4c30c9956db3,65c5d287e4b0bea88872e63b,63b85b34e4b0500381f84d88,reviewed,27,3,10,9,2,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6603dcbf4be4f543075f906f,65c5d287e4b0bea88872e63b,63b85b38e4b0500381f84dc5,reviewed,27,3,8,45,2,51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,66044352d049461ee1c54481,65c5d287e4b0bea88872e63b,63b9b0d5e4b0f26f1e03107d,reviewed,27,3,16,3,2,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6602f8bbf433100054982893,65c5d287e4b0bea88872e63b,63b9b0d6e4b0f26f1e031091,reviewed,26,2,16,32,2,59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6602f7c1efe5b67abb714f7d,65c5d287e4b0bea88872e63b,63b9b0dfe4b0f26f1e0310ff,reviewed,26,2,16,28,2,49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
760,6603b983d43333796b0b7a00,65c5d287e4b0bea88872e63b,65f2a19b31aa072fdd19cb10,reviewed,27,3,6,15,2,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
761,6603b6322e1b213e6ce2f9af,65c5d287e4b0bea88872e63b,65f2a19c31aa072fdd19cb14,reviewed,27,3,6,1,2,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
762,6603b4e3cbabb5030a537b74,65c5d287e4b0bea88872e63b,65f2a19e31aa072fdd19cb18,reviewed,27,3,5,55,2,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
763,6603b431361ef3527ebc349e,65c5d287e4b0bea88872e63b,65f2a1a131aa072fdd19cb20,reviewed,27,3,5,52,2,49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
764,66041b0c39348203474ca8e8,65c5d287e4b0bea88872e63b,65fbe0e7008fd027464d4515,reviewed,27,3,13,11,2,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [816]:
##data1.head()

In [848]:
###Put the names that are present in the dataframe_names varaible above manually here in final_data list in
##accordance to the name present number of file name ###
################################################################################################################################

final_data = [data1,data2,data3,data4,data5,data6,data7,data8]  # List of different assignment files

In [849]:
###Put the names that are present in the dataframe_names manually here in accordance to the name present number of file name ###
################################################################################################################################

num_date_columns_list = []  # List to store the count of date columns for each file

for data_file in final_data:
    data = {}
    date_column_count = 0

    for key, value in data_file.items():
        if key.startswith('data/') and key.endswith('/date/$date'):
            data[key] = value
            date_column_count += 1

    num_date_columns_list.append(date_column_count)

# Print the count of date columns for each data file
for i, count in enumerate(num_date_columns_list, start=1):
    print(f"Count of columns containing the date format in data file {i}: {count}")

Count of columns containing the date format in data file 1: 4
Count of columns containing the date format in data file 2: 8
Count of columns containing the date format in data file 3: 8
Count of columns containing the date format in data file 4: 9
Count of columns containing the date format in data file 5: 4
Count of columns containing the date format in data file 6: 6
Count of columns containing the date format in data file 7: 10
Count of columns containing the date format in data file 8: 8

In [850]:
dataframes = final_data
data_list = [{}, {}, {}, {},{},{},{},{}]   #Add the number of {} in accordance with the number of data files that are 
                                              #imported that are mentioned in the data_frames names.
# Replace with the actual num_date_columns_list
num_date_columns_list = num_date_columns_list  

# Iterate through each DataFrame and extract the data into separate dictionaries using a loop
for i, (df, data, num_date_columns) in enumerate(zip(dataframes, data_list, num_date_columns_list), start=1):
    # Clear the dictionary before adding new data
    data.clear()  
    num_date_columns = num_date_columns 
    # Clear the dictionary before adding new data
    data = {}  
    for j in range(num_date_columns):
        key = f'mixed_date{j+1}'
        data[key] = df[f'data/{j}/date/$date']
        
        
    # Update the data list with the extracted data dictionary for the respective DataFrame
    data_list[i-1] = data  

# Now, data_list[0], data_list[1], data_list[2], data_list[3], data_list[4], data_list[5], and data_list[6] will contain the extracted data

In [851]:
len(dataframe_names)

8

In [852]:
# Create an empty list to store the DataFrames
dataframes = []

# Iterate through the data_list to create DataFrames
for i in range(len(dataframe_names)):
    # Create DataFrame from each data dictionary
    df = pd.DataFrame(data_list[i])
    # Append the created DataFrame to the list
    dataframes.append(df)  

# Print the DataFrames to verify
for i, df in enumerate(dataframes, start=1):
    print(f"DataFrame {i}:")
    print(df.head())
    print('\n')

DataFrame 1:
                mixed_date1               mixed_date2 mixed_date3 mixed_date4
0  2024-03-27T10:09:48.337Z  2024-03-27T10:37:01.703Z         NaN         NaN
1  2024-03-27T08:45:51.555Z  2024-03-27T09:45:58.771Z         NaN         NaN
2  2024-03-27T16:03:30.097Z  2024-03-27T19:34:11.540Z         NaN         NaN
3  2024-03-26T16:32:59.768Z  2024-03-26T17:20:09.418Z         NaN         NaN
4  2024-03-26T16:28:49.581Z  2024-03-26T17:20:35.328Z         NaN         NaN


DataFrame 2:
                mixed_date1               mixed_date2 mixed_date3 mixed_date4  \
0  2024-04-15T07:26:52.908Z  2024-04-16T11:12:11.965Z         NaN         NaN
1  2024-04-15T09:21:03.916Z                       NaN         NaN         NaN
2  2024-04-09T14:53:22.595Z                       NaN         NaN         NaN
3  2024-04-17T09:37:04.979Z                       NaN         NaN         NaN
4  2024-04-17T09:14:36.791Z                       NaN         NaN         NaN

  mixed_date5 mixed_date6 mixed_date7 mixed_date8
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN


DataFrame 3:
                mixed_date1 mixed_date2 mixed_date3 mixed_date4 mixed_date5  \
0  2024-04-14T14:59:29.493Z         NaN         NaN         NaN         NaN
1  2024-04-14T05:06:31.934Z         NaN         NaN         NaN         NaN
2  2024-04-14T16:47:00.504Z         NaN         NaN         NaN         NaN
3  2024-04-14T09:42:12.835Z         NaN         NaN         NaN         NaN
4  2024-04-13T17:50:33.949Z         NaN         NaN         NaN         NaN

  mixed_date6 mixed_date7 mixed_date8
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NaN         NaN         NaN


DataFrame 4:
                mixed_date1               mixed_date2  \
0  2024-03-04T15:05:39.601Z  2024-03-10T18:54:18.922Z
1  2024-03-14T12:58:40.083Z  2024-03-18T05:59:34.800Z
2  2024-03-03T12:31:31.775Z  2024-03-10T18:55:10.790Z
3  2024-03-01T15:28:00.494Z  2024-03-10T18:55:36.277Z
4  2024-03-07T04:08:27.491Z  2024-03-10T18:56:45.252Z

                mixed_date3               mixed_date4 mixed_date5 mixed_date6  \
0  2024-03-11T15:49:02.077Z  2024-03-13T06:49:58.501Z         NaN         NaN
1                       NaN                       NaN         NaN         NaN
2                       NaN                       NaN         NaN         NaN
3                       NaN                       NaN         NaN         NaN
4                       NaN                       NaN         NaN         NaN

  mixed_date7 mixed_date8 mixed_date9
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NaN         NaN         NaN


DataFrame 5:
                mixed_date1               mixed_date2 mixed_date3 mixed_date4
0  2024-02-23T07:04:09.862Z  2024-03-01T10:11:36.690Z         NaN         NaN
1  2024-02-23T07:03:42.872Z  2024-03-01T10:11:24.567Z         NaN         NaN
2  2024-02-26T12:02:03.859Z  2024-03-01T10:14:18.058Z         NaN         NaN
3  2024-02-23T07:51:09.621Z  2024-03-01T10:13:34.415Z         NaN         NaN
4  2024-02-23T06:55:58.962Z  2024-03-01T10:10:47.540Z         NaN         NaN


DataFrame 6:
                mixed_date1               mixed_date2 mixed_date3 mixed_date4  \
0  2024-03-25T14:51:13.785Z  2024-03-28T09:54:11.782Z         NaN         NaN
1  2024-03-25T06:49:51.123Z  2024-03-28T09:55:19.122Z         NaN         NaN
2  2024-03-17T15:22:00.006Z  2024-03-20T10:06:50.588Z         NaN         NaN
3  2024-03-18T03:12:45.888Z  2024-03-20T10:07:25.279Z         NaN         NaN
4  2024-03-25T09:57:15.986Z  2024-03-28T09:55:52.234Z         NaN         NaN

  mixed_date5 mixed_date6
0         NaN         NaN
1         NaN         NaN
2         NaN         NaN
3         NaN         NaN
4         NaN         NaN


DataFrame 7:
                mixed_date1               mixed_date2  \
0  2024-03-04T15:06:02.389Z  2024-03-09T20:37:32.318Z
1  2024-03-14T12:59:27.433Z  2024-03-18T09:27:13.068Z
2  2024-03-03T12:31:40.937Z  2024-03-09T20:36:05.325Z
3  2024-03-01T15:28:13.167Z  2024-03-09T20:39:32.700Z
4  2024-03-07T04:08:53.158Z  2024-03-09T20:36:29.958Z

                mixed_date3               mixed_date4 mixed_date5 mixed_date6  \
0  2024-03-12T15:49:18.436Z  2024-04-01T12:49:47.541Z         NaN         NaN
1                       NaN                       NaN         NaN         NaN
2  2024-03-12T16:25:09.301Z  2024-04-01T12:48:46.955Z         NaN         NaN
3  2024-03-12T16:21:03.779Z  2024-04-01T12:55:43.890Z         NaN         NaN
4                       NaN                       NaN         NaN         NaN

  mixed_date7 mixed_date8 mixed_date9 mixed_date10
0         NaN         NaN         NaN          NaN
1         NaN         NaN         NaN          NaN
2         NaN         NaN         NaN          NaN
3         NaN         NaN         NaN          NaN
4         NaN         NaN         NaN          NaN


DataFrame 8:
                mixed_date1               mixed_date2 mixed_date3 mixed_date4  \
0  2024-03-24T16:32:53.476Z  2024-04-01T09:58:13.265Z         NaN         NaN
1  2024-03-14T16:12:08.396Z  2024-04-01T09:59:54.729Z         NaN         NaN
2  2024-03-14T12:03:10.092Z  2024-04-01T10:00:55.155Z         NaN         NaN
3  2024-03-12T16:25:31.676Z  2024-03-15T07:05:43.947Z         NaN         NaN
4  2024-03-12T16:19:54.229Z  2024-04-01T10:00:20.062Z         NaN         NaN

  mixed_date5 mixed_date6 mixed_date7 mixed_date8
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

In [853]:
# Iterate through each DataFrame in the list and convert the mixed format date columns to datetime objects
for df in dataframes:
    for col in df.columns:
        df[col] = pd.to_datetime(df[col], errors='coerce')
        
# Iterate through each DataFrame in the list and perform the specified operation
for i, df in enumerate(dataframes, start=1):
    df['Latest_Submission'] = df.max(axis=1, skipna=True)
    print(f"Latest Submission for DataFrame {i}:\n{df['Latest_Submission'].head()}\n")

Latest Submission for DataFrame 1:
0   2024-03-27 10:37:01.703000+00:00
1   2024-03-27 09:45:58.771000+00:00
2   2024-03-27 19:34:11.540000+00:00
3   2024-03-26 17:20:09.418000+00:00
4   2024-03-26 17:20:35.328000+00:00
Name: Latest_Submission, dtype: datetime64[ns, UTC]

Latest Submission for DataFrame 2:
0   2024-04-16 11:12:11.965000+00:00
1   2024-04-15 09:21:03.916000+00:00
2   2024-04-09 14:53:22.595000+00:00
3   2024-04-17 09:37:04.979000+00:00
4   2024-04-17 09:14:36.791000+00:00
Name: Latest_Submission, dtype: datetime64[ns, UTC]

Latest Submission for DataFrame 3:
0   2024-04-14 14:59:29.493000+00:00
1   2024-04-14 05:06:31.934000+00:00
2   2024-04-14 16:47:00.504000+00:00
3   2024-04-14 09:42:12.835000+00:00
4   2024-04-13 17:50:33.949000+00:00
Name: Latest_Submission, dtype: datetime64[ns, UTC]

Latest Submission for DataFrame 4:
0   2024-03-13 06:49:58.501000+00:00
1   2024-03-18 05:59:34.800000+00:00
2   2024-03-10 18:55:10.790000+00:00
3   2024-03-10 18:55:36.277000+00:00
4   2024-03-10 18:56:45.252000+00:00
Name: Latest_Submission, dtype: datetime64[ns, UTC]

Latest Submission for DataFrame 5:
0   2024-03-01 10:11:36.690000+00:00
1   2024-03-01 10:11:24.567000+00:00
2   2024-03-01 10:14:18.058000+00:00
3   2024-03-01 10:13:34.415000+00:00
4   2024-03-01 10:10:47.540000+00:00
Name: Latest_Submission, dtype: datetime64[ns, UTC]

Latest Submission for DataFrame 6:
0   2024-03-28 09:54:11.782000+00:00
1   2024-03-28 09:55:19.122000+00:00
2   2024-03-20 10:06:50.588000+00:00
3   2024-03-20 10:07:25.279000+00:00
4   2024-03-28 09:55:52.234000+00:00
Name: Latest_Submission, dtype: datetime64[ns, UTC]

Latest Submission for DataFrame 7:
0   2024-04-01 12:49:47.541000+00:00
1   2024-03-18 09:27:13.068000+00:00
2   2024-04-01 12:48:46.955000+00:00
3   2024-04-01 12:55:43.890000+00:00
4   2024-03-09 20:36:29.958000+00:00
Name: Latest_Submission, dtype: datetime64[ns, UTC]

Latest Submission for DataFrame 8:
0   2024-04-01 09:58:13.265000+00:00
1   2024-04-01 09:59:54.729000+00:00
2   2024-04-01 10:00:55.155000+00:00
3   2024-03-15 07:05:43.947000+00:00
4   2024-04-01 10:00:20.062000+00:00
Name: Latest_Submission, dtype: datetime64[ns, UTC]

In [854]:
def get_previous_date(row):
    max_date_index = row.values.argmax()
    previous_date = row.iloc[max_date_index - 2] if max_date_index > 0 else pd.NaT
    return previous_date

# Iterate through each DataFrame in the list and apply the get_previous_date function
for i, df in enumerate(dataframes, start=1):
    df['Previous_Submission_Date'] = df.apply(get_previous_date, axis=1)
    print(f"Previous Submission Dates for DataFrame {i}:\n{df['Previous_Submission_Date'].head()}\n")

Previous Submission Dates for DataFrame 1:
0   2024-03-27 10:09:48.337000+00:00
1   2024-03-27 08:45:51.555000+00:00
2   2024-03-27 16:03:30.097000+00:00
3   2024-03-26 16:32:59.768000+00:00
4   2024-03-26 16:28:49.581000+00:00
Name: Previous_Submission_Date, dtype: datetime64[ns, UTC]

Previous Submission Dates for DataFrame 2:
0   2024-04-15 07:26:52.908000+00:00
1   2024-04-15 09:21:03.916000+00:00
2   2024-04-09 14:53:22.595000+00:00
3   2024-04-17 09:37:04.979000+00:00
4   2024-04-17 09:14:36.791000+00:00
Name: Previous_Submission_Date, dtype: datetime64[ns, UTC]

Previous Submission Dates for DataFrame 3:
0   2024-04-14 14:59:29.493000+00:00
1   2024-04-14 05:06:31.934000+00:00
2   2024-04-14 16:47:00.504000+00:00
3   2024-04-14 09:42:12.835000+00:00
4   2024-04-13 17:50:33.949000+00:00
Name: Previous_Submission_Date, dtype: datetime64[ns, UTC]

Previous Submission Dates for DataFrame 4:
0   2024-03-11 15:49:02.077000+00:00
1   2024-03-14 12:58:40.083000+00:00
2   2024-03-03 12:31:31.775000+00:00
3   2024-03-01 15:28:00.494000+00:00
4   2024-03-07 04:08:27.491000+00:00
Name: Previous_Submission_Date, dtype: datetime64[ns, UTC]

Previous Submission Dates for DataFrame 5:
0   2024-02-23 07:04:09.862000+00:00
1   2024-02-23 07:03:42.872000+00:00
2   2024-02-26 12:02:03.859000+00:00
3   2024-02-23 07:51:09.621000+00:00
4   2024-02-23 06:55:58.962000+00:00
Name: Previous_Submission_Date, dtype: datetime64[ns, UTC]

Previous Submission Dates for DataFrame 6:
0   2024-03-25 14:51:13.785000+00:00
1   2024-03-25 06:49:51.123000+00:00
2   2024-03-17 15:22:00.006000+00:00
3   2024-03-18 03:12:45.888000+00:00
4   2024-03-25 09:57:15.986000+00:00
Name: Previous_Submission_Date, dtype: datetime64[ns, UTC]

Previous Submission Dates for DataFrame 7:
0   2024-03-12 15:49:18.436000+00:00
1   2024-03-14 12:59:27.433000+00:00
2   2024-03-12 16:25:09.301000+00:00
3   2024-03-12 16:21:03.779000+00:00
4   2024-03-07 04:08:53.158000+00:00
Name: Previous_Submission_Date, dtype: datetime64[ns, UTC]

Previous Submission Dates for DataFrame 8:
0   2024-03-24 16:32:53.476000+00:00
1   2024-03-14 16:12:08.396000+00:00
2   2024-03-14 12:03:10.092000+00:00
3   2024-03-12 16:25:31.676000+00:00
4   2024-03-12 16:19:54.229000+00:00
Name: Previous_Submission_Date, dtype: datetime64[ns, UTC]

In [855]:
# Create an empty list to store the average time differences
average_time_differences = []

# Iterate through each DataFrame in the list
for i, df in enumerate(dataframes, start=1):
    # Calculate the difference between the Latest Submission and Previous Submission Date 
    df['Submission_Date_Difference'] = ((df['Latest_Submission'] - df['Previous_Submission_Date']).dt.days * 24)
    
    # Calculate the average time difference
    average_time_second_last = df['Submission_Date_Difference'].mean().round()
    
    # Append the average time difference to the list
    average_time_differences.append(average_time_second_last)
    
    # Print the head of the DataFrame including the calculated difference
    print(f"Difference in Submission Dates for DataFrame {i}:\n{df[['Previous_Submission_Date', 'Latest_Submission', 'Submission_Date_Difference']].head()}\n")

# Calculate the average of all the average time differences
overall_average_time_difference = (sum(average_time_differences) / len(average_time_differences)).round()
print(f"Overall Average Time Difference: {overall_average_time_difference} hours\n")

Difference in Submission Dates for DataFrame 1:
          Previous_Submission_Date                Latest_Submission  \
0 2024-03-27 10:09:48.337000+00:00 2024-03-27 10:37:01.703000+00:00
1 2024-03-27 08:45:51.555000+00:00 2024-03-27 09:45:58.771000+00:00
2 2024-03-27 16:03:30.097000+00:00 2024-03-27 19:34:11.540000+00:00
3 2024-03-26 16:32:59.768000+00:00 2024-03-26 17:20:09.418000+00:00
4 2024-03-26 16:28:49.581000+00:00 2024-03-26 17:20:35.328000+00:00

   Submission_Date_Difference
0                         0.0
1                         0.0
2                         0.0
3                         0.0
4                         0.0

Difference in Submission Dates for DataFrame 2:
          Previous_Submission_Date                Latest_Submission  \
0 2024-04-15 07:26:52.908000+00:00 2024-04-16 11:12:11.965000+00:00
1 2024-04-15 09:21:03.916000+00:00 2024-04-15 09:21:03.916000+00:00
2 2024-04-09 14:53:22.595000+00:00 2024-04-09 14:53:22.595000+00:00
3 2024-04-17 09:37:04.979000+00:00 2024-04-17 09:37:04.979000+00:00
4 2024-04-17 09:14:36.791000+00:00 2024-04-17 09:14:36.791000+00:00

   Submission_Date_Difference
0                          24
1                           0
2                           0
3                           0
4                           0

Difference in Submission Dates for DataFrame 3:
          Previous_Submission_Date                Latest_Submission  \
0 2024-04-14 14:59:29.493000+00:00 2024-04-14 14:59:29.493000+00:00
1 2024-04-14 05:06:31.934000+00:00 2024-04-14 05:06:31.934000+00:00
2 2024-04-14 16:47:00.504000+00:00 2024-04-14 16:47:00.504000+00:00
3 2024-04-14 09:42:12.835000+00:00 2024-04-14 09:42:12.835000+00:00
4 2024-04-13 17:50:33.949000+00:00 2024-04-13 17:50:33.949000+00:00

   Submission_Date_Difference
0                           0
1                           0
2                           0
3                           0
4                           0

Difference in Submission Dates for DataFrame 4:
          Previous_Submission_Date                Latest_Submission  \
0 2024-03-11 15:49:02.077000+00:00 2024-03-13 06:49:58.501000+00:00
1 2024-03-14 12:58:40.083000+00:00 2024-03-18 05:59:34.800000+00:00
2 2024-03-03 12:31:31.775000+00:00 2024-03-10 18:55:10.790000+00:00
3 2024-03-01 15:28:00.494000+00:00 2024-03-10 18:55:36.277000+00:00
4 2024-03-07 04:08:27.491000+00:00 2024-03-10 18:56:45.252000+00:00

   Submission_Date_Difference
0                        24.0
1                        72.0
2                       168.0
3                       216.0
4                        72.0

Difference in Submission Dates for DataFrame 5:
          Previous_Submission_Date                Latest_Submission  \
0 2024-02-23 07:04:09.862000+00:00 2024-03-01 10:11:36.690000+00:00
1 2024-02-23 07:03:42.872000+00:00 2024-03-01 10:11:24.567000+00:00
2 2024-02-26 12:02:03.859000+00:00 2024-03-01 10:14:18.058000+00:00
3 2024-02-23 07:51:09.621000+00:00 2024-03-01 10:13:34.415000+00:00
4 2024-02-23 06:55:58.962000+00:00 2024-03-01 10:10:47.540000+00:00

   Submission_Date_Difference
0                         168
1                         168
2                          72
3                         168
4                         168

Difference in Submission Dates for DataFrame 6:
          Previous_Submission_Date                Latest_Submission  \
0 2024-03-25 14:51:13.785000+00:00 2024-03-28 09:54:11.782000+00:00
1 2024-03-25 06:49:51.123000+00:00 2024-03-28 09:55:19.122000+00:00
2 2024-03-17 15:22:00.006000+00:00 2024-03-20 10:06:50.588000+00:00
3 2024-03-18 03:12:45.888000+00:00 2024-03-20 10:07:25.279000+00:00
4 2024-03-25 09:57:15.986000+00:00 2024-03-28 09:55:52.234000+00:00

   Submission_Date_Difference
0                          48
1                          72
2                          48
3                          48
4                          48

Difference in Submission Dates for DataFrame 7:
          Previous_Submission_Date                Latest_Submission  \
0 2024-03-12 15:49:18.436000+00:00 2024-04-01 12:49:47.541000+00:00
1 2024-03-14 12:59:27.433000+00:00 2024-03-18 09:27:13.068000+00:00
2 2024-03-12 16:25:09.301000+00:00 2024-04-01 12:48:46.955000+00:00
3 2024-03-12 16:21:03.779000+00:00 2024-04-01 12:55:43.890000+00:00
4 2024-03-07 04:08:53.158000+00:00 2024-03-09 20:36:29.958000+00:00

   Submission_Date_Difference
0                       456.0
1                        72.0
2                       456.0
3                       456.0
4                        48.0

Difference in Submission Dates for DataFrame 8:
          Previous_Submission_Date                Latest_Submission  \
0 2024-03-24 16:32:53.476000+00:00 2024-04-01 09:58:13.265000+00:00
1 2024-03-14 16:12:08.396000+00:00 2024-04-01 09:59:54.729000+00:00
2 2024-03-14 12:03:10.092000+00:00 2024-04-01 10:00:55.155000+00:00
3 2024-03-12 16:25:31.676000+00:00 2024-03-15 07:05:43.947000+00:00
4 2024-03-12 16:19:54.229000+00:00 2024-04-01 10:00:20.062000+00:00

   Submission_Date_Difference
0                       168.0
1                       408.0
2                       408.0
3                        48.0
4                       456.0

Overall Average Time Difference: 81.0 hours

Overall Average Time difference:

In [856]:
print(f"Overall Average Time Difference: {overall_average_time_difference} hours\n")

Overall Average Time Difference: 81.0 hours

# Count Code of the daily updated Assignment Files:

In [857]:
#Used the same code as above to extract the mixed date formats columns of the format 'data/{i}/date/$date'
# Create an empty list to store the DataFrames
dataframes = []

# Iterate through the data_list to create DataFrames
for i in range(len(dataframe_names)):  
    df = pd.DataFrame(data_list[i])  
    dataframes.append(df)  

# Print the DataFrames to verify
for i, df in enumerate(dataframes, start=1):
    print(f"DataFrame {i}:")
    print(df.head())
    print('\n')

DataFrame 1:
                mixed_date1               mixed_date2 mixed_date3 mixed_date4
0  2024-03-27T10:09:48.337Z  2024-03-27T10:37:01.703Z         NaN         NaN
1  2024-03-27T08:45:51.555Z  2024-03-27T09:45:58.771Z         NaN         NaN
2  2024-03-27T16:03:30.097Z  2024-03-27T19:34:11.540Z         NaN         NaN
3  2024-03-26T16:32:59.768Z  2024-03-26T17:20:09.418Z         NaN         NaN
4  2024-03-26T16:28:49.581Z  2024-03-26T17:20:35.328Z         NaN         NaN


DataFrame 2:
                mixed_date1               mixed_date2 mixed_date3 mixed_date4  \
0  2024-04-15T07:26:52.908Z  2024-04-16T11:12:11.965Z         NaN         NaN
1  2024-04-15T09:21:03.916Z                       NaN         NaN         NaN
2  2024-04-09T14:53:22.595Z                       NaN         NaN         NaN
3  2024-04-17T09:37:04.979Z                       NaN         NaN         NaN
4  2024-04-17T09:14:36.791Z                       NaN         NaN         NaN

  mixed_date5 mixed_date6 mixed_date7 mixed_date8
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN


DataFrame 3:
                mixed_date1 mixed_date2 mixed_date3 mixed_date4 mixed_date5  \
0  2024-04-14T14:59:29.493Z         NaN         NaN         NaN         NaN
1  2024-04-14T05:06:31.934Z         NaN         NaN         NaN         NaN
2  2024-04-14T16:47:00.504Z         NaN         NaN         NaN         NaN
3  2024-04-14T09:42:12.835Z         NaN         NaN         NaN         NaN
4  2024-04-13T17:50:33.949Z         NaN         NaN         NaN         NaN

  mixed_date6 mixed_date7 mixed_date8
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NaN         NaN         NaN


DataFrame 4:
                mixed_date1               mixed_date2  \
0  2024-03-04T15:05:39.601Z  2024-03-10T18:54:18.922Z
1  2024-03-14T12:58:40.083Z  2024-03-18T05:59:34.800Z
2  2024-03-03T12:31:31.775Z  2024-03-10T18:55:10.790Z
3  2024-03-01T15:28:00.494Z  2024-03-10T18:55:36.277Z
4  2024-03-07T04:08:27.491Z  2024-03-10T18:56:45.252Z

                mixed_date3               mixed_date4 mixed_date5 mixed_date6  \
0  2024-03-11T15:49:02.077Z  2024-03-13T06:49:58.501Z         NaN         NaN
1                       NaN                       NaN         NaN         NaN
2                       NaN                       NaN         NaN         NaN
3                       NaN                       NaN         NaN         NaN
4                       NaN                       NaN         NaN         NaN

  mixed_date7 mixed_date8 mixed_date9
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NaN         NaN         NaN


DataFrame 5:
                mixed_date1               mixed_date2 mixed_date3 mixed_date4
0  2024-02-23T07:04:09.862Z  2024-03-01T10:11:36.690Z         NaN         NaN
1  2024-02-23T07:03:42.872Z  2024-03-01T10:11:24.567Z         NaN         NaN
2  2024-02-26T12:02:03.859Z  2024-03-01T10:14:18.058Z         NaN         NaN
3  2024-02-23T07:51:09.621Z  2024-03-01T10:13:34.415Z         NaN         NaN
4  2024-02-23T06:55:58.962Z  2024-03-01T10:10:47.540Z         NaN         NaN


DataFrame 6:
                mixed_date1               mixed_date2 mixed_date3 mixed_date4  \
0  2024-03-25T14:51:13.785Z  2024-03-28T09:54:11.782Z         NaN         NaN
1  2024-03-25T06:49:51.123Z  2024-03-28T09:55:19.122Z         NaN         NaN
2  2024-03-17T15:22:00.006Z  2024-03-20T10:06:50.588Z         NaN         NaN
3  2024-03-18T03:12:45.888Z  2024-03-20T10:07:25.279Z         NaN         NaN
4  2024-03-25T09:57:15.986Z  2024-03-28T09:55:52.234Z         NaN         NaN

  mixed_date5 mixed_date6
0         NaN         NaN
1         NaN         NaN
2         NaN         NaN
3         NaN         NaN
4         NaN         NaN


DataFrame 7:
                mixed_date1               mixed_date2  \
0  2024-03-04T15:06:02.389Z  2024-03-09T20:37:32.318Z
1  2024-03-14T12:59:27.433Z  2024-03-18T09:27:13.068Z
2  2024-03-03T12:31:40.937Z  2024-03-09T20:36:05.325Z
3  2024-03-01T15:28:13.167Z  2024-03-09T20:39:32.700Z
4  2024-03-07T04:08:53.158Z  2024-03-09T20:36:29.958Z

                mixed_date3               mixed_date4 mixed_date5 mixed_date6  \
0  2024-03-12T15:49:18.436Z  2024-04-01T12:49:47.541Z         NaN         NaN
1                       NaN                       NaN         NaN         NaN
2  2024-03-12T16:25:09.301Z  2024-04-01T12:48:46.955Z         NaN         NaN
3  2024-03-12T16:21:03.779Z  2024-04-01T12:55:43.890Z         NaN         NaN
4                       NaN                       NaN         NaN         NaN

  mixed_date7 mixed_date8 mixed_date9 mixed_date10
0         NaN         NaN         NaN          NaN
1         NaN         NaN         NaN          NaN
2         NaN         NaN         NaN          NaN
3         NaN         NaN         NaN          NaN
4         NaN         NaN         NaN          NaN


DataFrame 8:
                mixed_date1               mixed_date2 mixed_date3 mixed_date4  \
0  2024-03-24T16:32:53.476Z  2024-04-01T09:58:13.265Z         NaN         NaN
1  2024-03-14T16:12:08.396Z  2024-04-01T09:59:54.729Z         NaN         NaN
2  2024-03-14T12:03:10.092Z  2024-04-01T10:00:55.155Z         NaN         NaN
3  2024-03-12T16:25:31.676Z  2024-03-15T07:05:43.947Z         NaN         NaN
4  2024-03-12T16:19:54.229Z  2024-04-01T10:00:20.062Z         NaN         NaN

  mixed_date5 mixed_date6 mixed_date7 mixed_date8
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

In [858]:
#Code to obtain the columns with latest submissions date i.e present in the latest updated column of the format 'data/{i}/date/$date' from the all the mixed data format column 
# Iterate through each DataFrame in the list and convert the mixed format date columns to datetime objects
for df in dataframes:
    for col in df.columns:
        df[col] = pd.to_datetime(df[col], errors='coerce')
        
# Iterate through each DataFrame in the list and perform the specified operation
for i, df in enumerate(dataframes, start=1):
    df['Latest_Submission'] = df.max(axis=1, skipna=True)
    
    # Convert the "Latest Submission" column to string datatype
    df['Latest_Submission'] = df['Latest_Submission'].astype(str)
    
    print(f"Latest Submission for DataFrame {i}:\n{df['Latest_Submission'].head()}\n")

Latest Submission for DataFrame 1:
0    2024-03-27 10:37:01.703000+00:00
1    2024-03-27 09:45:58.771000+00:00
2    2024-03-27 19:34:11.540000+00:00
3    2024-03-26 17:20:09.418000+00:00
4    2024-03-26 17:20:35.328000+00:00
Name: Latest_Submission, dtype: object

Latest Submission for DataFrame 2:
0    2024-04-16 11:12:11.965000+00:00
1    2024-04-15 09:21:03.916000+00:00
2    2024-04-09 14:53:22.595000+00:00
3    2024-04-17 09:37:04.979000+00:00
4    2024-04-17 09:14:36.791000+00:00
Name: Latest_Submission, dtype: object

Latest Submission for DataFrame 3:
0    2024-04-14 14:59:29.493000+00:00
1    2024-04-14 05:06:31.934000+00:00
2    2024-04-14 16:47:00.504000+00:00
3    2024-04-14 09:42:12.835000+00:00
4    2024-04-13 17:50:33.949000+00:00
Name: Latest_Submission, dtype: object

Latest Submission for DataFrame 4:
0    2024-03-13 06:49:58.501000+00:00
1    2024-03-18 05:59:34.800000+00:00
2    2024-03-10 18:55:10.790000+00:00
3    2024-03-10 18:55:36.277000+00:00
4    2024-03-10 18:56:45.252000+00:00
Name: Latest_Submission, dtype: object

Latest Submission for DataFrame 5:
0    2024-03-01 10:11:36.690000+00:00
1    2024-03-01 10:11:24.567000+00:00
2    2024-03-01 10:14:18.058000+00:00
3    2024-03-01 10:13:34.415000+00:00
4    2024-03-01 10:10:47.540000+00:00
Name: Latest_Submission, dtype: object

Latest Submission for DataFrame 6:
0    2024-03-28 09:54:11.782000+00:00
1    2024-03-28 09:55:19.122000+00:00
2    2024-03-20 10:06:50.588000+00:00
3    2024-03-20 10:07:25.279000+00:00
4    2024-03-28 09:55:52.234000+00:00
Name: Latest_Submission, dtype: object

Latest Submission for DataFrame 7:
0    2024-04-01 12:49:47.541000+00:00
1    2024-03-18 09:27:13.068000+00:00
2    2024-04-01 12:48:46.955000+00:00
3    2024-04-01 12:55:43.890000+00:00
4    2024-03-09 20:36:29.958000+00:00
Name: Latest_Submission, dtype: object

Latest Submission for DataFrame 8:
0    2024-04-01 09:58:13.265000+00:00
1    2024-04-01 09:59:54.729000+00:00
2    2024-04-01 10:00:55.155000+00:00
3    2024-03-15 07:05:43.947000+00:00
4    2024-04-01 10:00:20.062000+00:00
Name: Latest_Submission, dtype: object

In [859]:
# Specify the DataFrame index for DataFrame 1 (assuming it is the first DataFrame in the list)
df_index = 0

# Split the "Latest Submission for DataFrame 1" column rows containing datetime data after the first space
dataframes[df_index]['Latest_Submission_split'] = dataframes[df_index]['Latest_Submission'].str.split(' ', n=1).str[0]

# Print the modified DataFrame 1 with the split datetime data
print("Latest Submission for DataFrame 1 with Datetime Data after First Space:")
print(dataframes[df_index][['Latest_Submission', 'Latest_Submission_split']].head())

Latest Submission for DataFrame 1 with Datetime Data after First Space:
                  Latest_Submission Latest_Submission_split
0  2024-03-27 10:37:01.703000+00:00              2024-03-27
1  2024-03-27 09:45:58.771000+00:00              2024-03-27
2  2024-03-27 19:34:11.540000+00:00              2024-03-27
3  2024-03-26 17:20:09.418000+00:00              2024-03-26
4  2024-03-26 17:20:35.328000+00:00              2024-03-26

In [860]:
# Iterate through each DataFrame in the list
for i, df in enumerate(dataframes, start=1):
    # Split the "Latest Submission" column rows containing datetime data after the first space
    df['Latest_Submission_split'] = df['Latest_Submission'].str.split(' ', n=1).str[0]
    
    # Print the modified DataFrame with the split datetime data
    print(f"Latest Submission for DataFrame {i} with Datetime Data after First Space:")
    print(df[['Latest_Submission', 'Latest_Submission_split']].head())
    print()  # Add a new line for better readability

Latest Submission for DataFrame 1 with Datetime Data after First Space:
                  Latest_Submission Latest_Submission_split
0  2024-03-27 10:37:01.703000+00:00              2024-03-27
1  2024-03-27 09:45:58.771000+00:00              2024-03-27
2  2024-03-27 19:34:11.540000+00:00              2024-03-27
3  2024-03-26 17:20:09.418000+00:00              2024-03-26
4  2024-03-26 17:20:35.328000+00:00              2024-03-26

Latest Submission for DataFrame 2 with Datetime Data after First Space:
                  Latest_Submission Latest_Submission_split
0  2024-04-16 11:12:11.965000+00:00              2024-04-16
1  2024-04-15 09:21:03.916000+00:00              2024-04-15
2  2024-04-09 14:53:22.595000+00:00              2024-04-09
3  2024-04-17 09:37:04.979000+00:00              2024-04-17
4  2024-04-17 09:14:36.791000+00:00              2024-04-17

Latest Submission for DataFrame 3 with Datetime Data after First Space:
                  Latest_Submission Latest_Submission_split
0  2024-04-14 14:59:29.493000+00:00              2024-04-14
1  2024-04-14 05:06:31.934000+00:00              2024-04-14
2  2024-04-14 16:47:00.504000+00:00              2024-04-14
3  2024-04-14 09:42:12.835000+00:00              2024-04-14
4  2024-04-13 17:50:33.949000+00:00              2024-04-13

Latest Submission for DataFrame 4 with Datetime Data after First Space:
                  Latest_Submission Latest_Submission_split
0  2024-03-13 06:49:58.501000+00:00              2024-03-13
1  2024-03-18 05:59:34.800000+00:00              2024-03-18
2  2024-03-10 18:55:10.790000+00:00              2024-03-10
3  2024-03-10 18:55:36.277000+00:00              2024-03-10
4  2024-03-10 18:56:45.252000+00:00              2024-03-10

Latest Submission for DataFrame 5 with Datetime Data after First Space:
                  Latest_Submission Latest_Submission_split
0  2024-03-01 10:11:36.690000+00:00              2024-03-01
1  2024-03-01 10:11:24.567000+00:00              2024-03-01
2  2024-03-01 10:14:18.058000+00:00              2024-03-01
3  2024-03-01 10:13:34.415000+00:00              2024-03-01
4  2024-03-01 10:10:47.540000+00:00              2024-03-01

Latest Submission for DataFrame 6 with Datetime Data after First Space:
                  Latest_Submission Latest_Submission_split
0  2024-03-28 09:54:11.782000+00:00              2024-03-28
1  2024-03-28 09:55:19.122000+00:00              2024-03-28
2  2024-03-20 10:06:50.588000+00:00              2024-03-20
3  2024-03-20 10:07:25.279000+00:00              2024-03-20
4  2024-03-28 09:55:52.234000+00:00              2024-03-28

Latest Submission for DataFrame 7 with Datetime Data after First Space:
                  Latest_Submission Latest_Submission_split
0  2024-04-01 12:49:47.541000+00:00              2024-04-01
1  2024-03-18 09:27:13.068000+00:00              2024-03-18
2  2024-04-01 12:48:46.955000+00:00              2024-04-01
3  2024-04-01 12:55:43.890000+00:00              2024-04-01
4  2024-03-09 20:36:29.958000+00:00              2024-03-09

Latest Submission for DataFrame 8 with Datetime Data after First Space:
                  Latest_Submission Latest_Submission_split
0  2024-04-01 09:58:13.265000+00:00              2024-04-01
1  2024-04-01 09:59:54.729000+00:00              2024-04-01
2  2024-04-01 10:00:55.155000+00:00              2024-04-01
3  2024-03-15 07:05:43.947000+00:00              2024-03-15
4  2024-04-01 10:00:20.062000+00:00              2024-04-01

In [861]:
dataframes[1]['Latest_Submission']

0      2024-04-16 11:12:11.965000+00:00
1      2024-04-15 09:21:03.916000+00:00
2      2024-04-09 14:53:22.595000+00:00
3      2024-04-17 09:37:04.979000+00:00
4      2024-04-17 09:14:36.791000+00:00
                     ...
311    2024-03-21 04:48:51.648000+00:00
312    2024-03-21 04:49:03.362000+00:00
313    2024-03-21 04:49:10.851000+00:00
314    2024-03-21 04:49:21.055000+00:00
315    2024-03-21 04:51:14.493000+00:00
Name: Latest_Submission, Length: 316, dtype: object

In [862]:
dataframes[1]['Latest_Submission_split']

0      2024-04-16
1      2024-04-15
2      2024-04-09
3      2024-04-17
4      2024-04-17
          ...
311    2024-03-21
312    2024-03-21
313    2024-03-21
314    2024-03-21
315    2024-03-21
Name: Latest_Submission_split, Length: 316, dtype: object

In [863]:
# Iterate through each DataFrame in the list
for i, df in enumerate(final_data, start=1):
    # Update the "Latest Submission" column in each DataFrame with the split data
    df['Latest_Submission'] = dataframes[i-1]['Latest_Submission']
    df['Latest_Submission_split'] = dataframes[i-1]['Latest_Submission_split']

    # Save the updated DataFrame to a new CSV file
    new_file_path = f'updated_file_{i}.csv'  # Replace with the desired file naming convention
    df.to_csv(new_file_path, index=False)

In [864]:
data2.head()

,_id,courseId,userId,status,data/0/date/date,data/0/date/day,data/0/date/hours,data/0/date/minutes,data/0/date/month,data/0/date/seconds,...,data/7/date/time,data/7/date/timezoneOffset,data/7/date/year,data/7/date/$date,data/7/status,data/7/message,data/7/adminId,data/4/notes,Latest_Submission,Latest_Submission_split
0,661cd6bcf179b74c0b33e51f,65c5d287e4b0bea88872e63b,63b6dbd1e4b04d78f40b0ad0,rejected,15,1,7,26,3,52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-04-16 11:12:11.965000+00:00,2024-04-16
1,661cf17f350de60f684a7d62,65c5d287e4b0bea88872e63b,63b6dbf1e4b04d78f40b0c00,under review,15,1,9,21,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-04-15 09:21:03.916000+00:00,2024-04-15
2,6615566215d8d561ecaa108a,65c5d287e4b0bea88872e63b,63b6dbf4e4b04d78f40b0c2e,under review,9,2,14,53,3,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-04-09 14:53:22.595000+00:00,2024-04-09
3,661f98400b743e7790933c6c,65c5d287e4b0bea88872e63b,65cdb847e4b0910621e3ee69,under review,17,3,9,37,3,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-04-17 09:37:04.979000+00:00,2024-04-17
4,661f92fcc186d0624cf5f1f4,65c5d287e4b0bea88872e63b,65cdb848e4b0910621e3ee6d,under review,17,3,9,14,3,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-04-17 09:14:36.791000+00:00,2024-04-17

In [865]:
df['status'].unique()

array(['reviewed', 'rejected', 'under review'], dtype=object)

In [866]:
import pandas as pd

# Define the 'dataframes' list, assuming it contains the relevant information about the CSV files

# Define the number of CSV files based on the length of the 'dataframes' list
number_of_files = len(dataframe_names)

# Determine the Previous Dates to the Latest Dates in the 'Latest_Submission_split' Column
latest_dates = []

for i in range(1, number_of_files + 1):
    file_path = f'updated_file_{i}.csv'  
    df = pd.read_csv(file_path)
    
    if 'Latest_Submission_split' in df.columns:
        latest_date = pd.to_datetime(df['Latest_Submission_split']).max().strftime('%Y-%m-%d')
        previous_date = (pd.to_datetime(df['Latest_Submission_split']).max() - pd.DateOffset(days=1)).strftime('%Y-%m-%d')
        previous_date_to_date = (pd.to_datetime(df['Latest_Submission_split']).max() - pd.DateOffset(days=2)).strftime('%Y-%m-%d')
        
        latest_dates.append(previous_date)
        latest_dates.append(previous_date_to_date)
        
    else:
        print(f"'Latest_Submission_split' column does not exist in DataFrame {i}")

sorted_target_dates = sorted(list(set(latest_dates)))
target_dates = sorted_target_dates[-1:]

################################################
#Use this to type dates yourself else it will take the date previous to the latest today's date
#target_dates=['2024-04-05','2024-04-06','2024-04-08','2024-04-09','2024-04-10','2024-04-11','2024-04-12']
##################################################


# Process Status Counts based on Specific Target Dates for Multiple CSV Files
status_counts = []

for i in range(1, number_of_files + 1):  
    file_path = f'updated_file_{i}.csv'  
    df = pd.read_csv(file_path)

    status_counts_for_date = []  

    for target_date in target_dates:
        if 'Latest_Submission_split' in df.columns:
            filtered_data = df[pd.to_datetime(df['Latest_Submission_split']).dt.date == pd.to_datetime(target_date).date()]
            status_count = filtered_data['status'].value_counts().to_dict()
            status_counts_for_date.append(status_count)
            print(f"For preparing for Assignment - DataFrame {i} - Date {target_date}:")
            print(status_count)
        else:
            print(f"'Latest_Submission_split' column does not exist in DataFrame {i}")

    status_counts.append(status_counts_for_date)

# 'status_counts' now contains the status counts for each DataFrame for each target date

For preparing for Assignment - DataFrame 1 - Date 2024-04-17:
{'under review': 3}
For preparing for Assignment - DataFrame 2 - Date 2024-04-17:
{'under review': 46, 'rejected': 22, 'reviewed': 4}
For preparing for Assignment - DataFrame 3 - Date 2024-04-17:
{'under review': 9}
For preparing for Assignment - DataFrame 4 - Date 2024-04-17:
{}
For preparing for Assignment - DataFrame 5 - Date 2024-04-17:
{}
For preparing for Assignment - DataFrame 6 - Date 2024-04-17:
{}
For preparing for Assignment - DataFrame 7 - Date 2024-04-17:
{'under review': 1}
For preparing for Assignment - DataFrame 8 - Date 2024-04-17:
{}

In [867]:
import pandas as pd

# Create a list to store the tabular data
tabular_data = []

# Function to calculate the count of items under review
def get_under_review_count(status_count_dict):
    under_review_count = status_count_dict.get('under review', 0)  # Assuming 'under_review' is the key for under review counts
    return under_review_count

# Iterate through each DataFrame and target date
for i in range(len(status_counts)):
    for j in range(len(target_dates)):
        if status_counts[i][j]:  # Checking if status count exists for the target date
            reviewed_count = status_counts[i][j].get('reviewed', 0)
            under_review_count = get_under_review_count(status_counts[i][j])
            rejected_count = status_counts[i][j].get('rejected', 0)
            tabular_data.append({
                'DataFrame': i+1,
                'Assignment_file_names':b[i],
                'Date': target_dates[j],
                'Accepted': reviewed_count,
                '24h_New_Submits': under_review_count,
                'Rejected': rejected_count,
                'Total_checked':(reviewed_count+rejected_count)

                
            })

# Create a DataFrame from the tabular data
tabular_df = pd.DataFrame(tabular_data)

# Display the tabular DataFrame
tabular_df

,DataFrame,Assignment_file_names,Date,Accepted,24h_New_Submits,Rejected,Total_checked
0,1,Assignment_Assignment_CAP Classwork.csv,2024-04-17,0,3,0,0
1,2,Assignment_Assignment_CV_ Resume.csv,2024-04-17,4,46,22,26
2,3,Assignment_Assignment_Full CAP - GoalA+B.csv,2024-04-17,0,9,0,0
3,7,Assignment_Assignment_SMART goal.csv,2024-04-17,0,1,0,0

The total number of Assignments checked

In [868]:
print("Total number of Assignments that are checked is",tabular_df['Total_checked'].sum())

Total number of Assignments that are checked is 26

In [869]:
print("Total number of Assignments that are Submitted is",tabular_df['24h_New_Submits'].sum())

Total number of Assignments that are Submitted is 59

In [870]:
tabular_df.to_excel("C:/Users/User/Downloads/Daily update in count of Assignment submissions.xlsx", index=False)

In [871]:
pd.read_excel("C:/Users/User/Downloads/Daily update in count of Assignment submissions.xlsx").head()

,DataFrame,Assignment_file_names,Date,Accepted,24h_New_Submits,Rejected,Total_checked
0,1,Assignment_Assignment_CAP Classwork.csv,2024-04-17,0,3,0,0
1,2,Assignment_Assignment_CV_ Resume.csv,2024-04-17,4,46,22,26
2,3,Assignment_Assignment_Full CAP - GoalA+B.csv,2024-04-17,0,9,0,0
3,7,Assignment_Assignment_SMART goal.csv,2024-04-17,0,1,0,0

In [874]:
import pandas as pd

# Load the existing Excel file into a DataFrame
existing_data = pd.read_excel("C:/Users/User/Downloads/Daily update in count of Assignment submissions.xlsx")

# Load the new data from the attached file into another DataFrame
new_data = pd.read_excel("C:/Users/User/Downloads/new file.xlsx")

# Concatenate the new data below the existing data
combined_data = pd.concat([existing_data, new_data], ignore_index=True)

# Write the combined data back to the Excel file
combined_data.to_excel("C:/Users/User/Downloads/new file.xlsx", index=False)

In [875]:
combined_data

,DataFrame,Assignment_file_names,Date,Accepted,24h_New_Submits,Rejected,Total_checked
0,1,Assignment_Assignment_CAP Classwork.csv,2024-04-17,0,3,0,0
1,2,Assignment_Assignment_CV_ Resume.csv,2024-04-17,4,46,22,26
2,3,Assignment_Assignment_Full CAP - GoalA+B.csv,2024-04-17,0,9,0,0
3,7,Assignment_Assignment_SMART goal.csv,2024-04-17,0,1,0,0
4,2,Assignment_Assignment_CV_ Resume.csv,2024-04-16,1,6,38,39
...,...,...,...,...,...,...,...
72,5,Assignment_Assignment_CAP-Goals_Strategy.csv,2024-03-31,0,5,0,0
73,1,Assignment_Assignment_Long term dreams and sho...,2024-03-27,0,18,0,0
74,2,Assignment_Assignment_Preparing for PG_Masters...,2024-03-27,138,25,49,187
75,3,Assignment_Assignment_SMART goal.csv,2024-03-27,0,24,0,0
76,4,Assignment_Assignment_SWOT.csv,2024-03-27,2,14,0,2